@import "tailwindcss";

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8fafc;
    color: #0f172a;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::selection {
    background-color: #001f3f;
    color: #ffffff;
  }
}

@media print {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
  
  @page {
    margin: 1cm;
    size: letter portrait;
  }
}

